{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/compare.css') }}">
{% endblock %}
{% block body %}

    <section>
        <div class="compare-title">
            <div class="title-content">
                <p>Сравнение</p>
                <span>
                Добро пожаловать на страницу сравнения спортивных секций!<br>
                Здесь вы можете детально сравнить выбранные вами спортивные секции,
                    чтобы найти идеальный вариант, соответствующий вашим потребностям и интересам.
                </span>
            </div>
        </div>
        <div class="compare-container">
            <div class="course-compare-wrapper">
                <div class="course-compare-table table-head">
                    <div class="head">
                        <div class="item item-first">
                            <div class="name">Секция</div>
                        </div>
                        {% for compareSection in compareSections %}
                            <div class="item item-course">
                                <div class="section-name">
                                    <b>{{ compareSection.sections.name }}</b>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="course-compare-table table-body">
                    <div class="row">
                        <div class="item item-first">
                            <div class="name">Для кого</div>
                        </div>
                        {% for compareSection in compareSections %}
                            <div class="item">
                                <div class="text">{{ compareSection.sections.forWho }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="item item-first">
                            <div class="name">Адрес</div>
                        </div>
                        {% for compareSection in compareSections %}
                            <div class="item">
                                <div class="text">{{ compareSection.sections.address }}</div>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="row">
                        <div class="item item-first">
                            <div class="name">Формат</div>
                        </div>
                        {% for compareSection in compareSections %}
                            <div class="item">
                                <div class="text">{{ compareSection.sections.format }}</div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="row">
                        <div class="item item-first">
                            <div class="name">Направление</div>
                        </div>
                        {% for compareSection in compareSections %}
                            <div class="item">
                                <div class="text">{{ compareSection.sections.typesSport }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="item item-first">
                            <div class="name"></div>
                        </div>
                        {% for compareSection in compareSections %}
                            <div class="item">
                                <div class="action">
                                    <a href="{{ path('app_entry', {sectionId: compareSection.sections.id}) }}" class="entries">Записаться</a>
                                    <a class="delete-button"><img src="{{ asset('images/Trash.svg') }}"
                                                                  alt="delete-button"></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>


    </section>

{% endblock %}