{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/article.css') }}">
{% endblock %}

{% block body %}

    <section>
        <div class="article-container">
            <div class="article-title">
                <p class="article-name">Все что вы не знали о пользе правильного питания</p>
                <img src="{{ asset('images/PP.png') }}" alt="title_image">
            </div>
            <div class="article-text">
                <h3>Правильное Питание: Секреты Здоровья, Которые Вы Не Знали</h3>

                В мире, где пицца, гамбургеры и сладости кажутся нашими верными спутниками, неудивительно, что
                правильное питание иногда становится для нас загадкой. Однако, что если я скажу вам, что у вас есть сила
                превратить свой обычный рацион в источник здоровья и энергии? Да, вы не ослышались! В этой статье мы
                рассмотрим несколько удивительных фактов о том, как правильное питание может изменить вашу жизнь.

                <h3>1. Укрепление иммунитета:</h3>

                Правильное питание не только дает вашему организму необходимые питательные вещества, но и помогает
                укрепить ваш иммунитет. Зеленые овощи и фрукты, такие как шпинат, брокколи, цитрусовые и ягоды.
                Они полны витаминов и антиоксидантов, которые поддерживают работу иммунной системы.

                <h3>2. Улучшение фокуса и концентрации:</h3>

                Правильное питание может улучшить ваш фокус и концентрацию в школе или на работе. Продукты, богатые
                омега-3 жирными кислотами, такие как рыба, орехи и семена льна. Эти продукты способствуют здоровью
                мозга и улучшают когнитивные функции.

                <h3>3. Поддержание здорового веса:</h3>

                Правильное питание помогает поддерживать здоровый вес и форму тела.
                <img src="{{ asset('images/articles/plate.jpg') }}" alt="article-image">
                Это наглядно напоминает о важности разнообразного рациона для поддержания здоровья и формы.

                <h3>4. Улучшение настроения:</h3>

                Правильное питание может оказать положительное влияние на ваше настроение и эмоциональное состояние.


                <h3>5. Предотвращение развития болезней:</h3>

                Правильное питание может помочь предотвратить развитие различных заболеваний, таких как диабет,
                сердечно-сосудистые заболевания и ожирение.
                <img src="{{ asset('images/articles/choice.jpg') }}" alt="article-image">
                <h3>Заключение:</h3>

                Питание играет огромную роль в нашей жизни, определяя наше здоровье и благополучие. Правильный рацион
                может стать вашим лучшим другом, помогая вам преодолевать препятствия и достигать новых высот. Поэтому
                давайте сделаем выбор в пользу здорового питания и позволим себе стать настоящими чемпионами своего
                здоровья и благополучия!

                <img src="{{ asset('images/articles/piramida.jpeg') }}" alt="article-image">

                Не забывайте, что каждый прием пищи - это шанс сделать правильный выбор для своего здоровья. И помните,
                что правильное питание - это не просто диета, это образ жизни!
            </div>
        </div>
    </section>

{% endblock %}