<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fit Connect{% endblock %}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicons/favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="../node_modules/jquery-bar-rating/dist/themes/css-stars.css">
    {% block head %}{% endblock %}
</head>
<body>
{{ include('header.html.twig') }}
{% block body %}{% endblock %}
{{ include('footer.html.twig') }}
</body>
<script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('app.js') }}"></script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/jquery-bar-rating/jquery.barrating.js"></script>
</html>
