<hr style="border-top: 1px solid #ccc;">
<div class="blog-container">
    <div class="blog-articles">
        <div class="title">
            <p>
                <span style="color: #018578; font-weight: bold">Статьи</span> блога
            </p>
            <a href="#">Все статьи</a>
        </div>
        <div class="articles">
            <div class="slider-container">
                <div class="slider">
                    <div class="slider-item">
                        <div class="article">
                            <a href="#" class="article-link">
                                <img src="{{ asset('images/PP.png') }}" alt="article-img">
                                <div class="article-overlay">
                                    <p class="data-create">23 апреля 2024</p>
                                    <p class="article-name">Все что вы не знали о
                                        пользе правильного питания</p>
                                    <p href="#" class="read-full">
                                        <img src="{{ asset('images/Arrow.svg') }}" alt="arrow">
                                        <span>Читать полностью</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="article">
                            <a href="#">
                                <img src="{{ asset('images/Yoga.png') }}" alt="article-img">
                                <div class="article-overlay">
                                    <p class="data-create">23 апреля 2024</p>
                                    <p class="article-name">Как йога продлевает жизнь</p>
                                    <p href="#" class="read-full">
                                        <img src="{{ asset('images/Arrow.svg') }}" alt="arrow">
                                        <span>Читать полностью</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="article">
                            <a href="#">
                                <img src="{{ asset('images/Checkmate.png') }}" alt="article-img">
                                <div class="article-overlay">
                                    <p class="data-create">23 апреля 2024</p>
                                    <p class="article-name">Как шахматы прокачивают
                                        логику и ваше мышление в
                                        целом</p>
                                    <p href="#" class="read-full">
                                        <img src="{{ asset('images/Arrow.svg') }}" alt="arrow">
                                        <span>Читать полностью</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="article">
                            <a href="#">
                                <img src="{{ asset('images/typeSport/footbal.jpg') }}" alt="article-img">
                                <div class="article-overlay">
                                    <p class="data-create">23 апреля 2024</p>
                                    <p class="article-name">Все что вы не знали о
                                        пользе правильного питания</p>
                                    <p href="#" class="read-full">
                                        <img src="{{ asset('images/Arrow.svg') }}" alt="arrow">
                                        <span>Читать полностью</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="article">
                            <a href="#">
                                <img src="{{ asset('images/typeSport/footbal.jpg') }}" alt="article-img">
                                <div class="article-overlay">
                                    <p class="data-create">23 апреля 2024</p>
                                    <p class="article-name">Все что вы не знали о
                                        пользе правильного питания</p>
                                    <p href="#" class="read-full">
                                        <img src="{{ asset('images/Arrow.svg') }}" alt="arrow">
                                        <span>Читать полностью</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slider-controls">
                    <div class="slider-dot active"></div>
                    <div class="slider-dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>