<header style="position: unset">
    <div class="wrapper site-header__wrapper">
        <a href="/" class="brand"><img src="{{ asset('images/Logo.svg') }}" alt="brand"/></a>
        <nav class="navigate">
            <a href="#" id="catalogButton">Каталог секций</a>
            <a href="/blog">Блог</a>
            <a href="#" id="cityButton" class="city-button">{{ currentCity }}<img
                        src="{{ asset('images/Expand Arrow.svg') }}" alt="Arrow"></a>
        </nav>
        <div class="header-button">
            <a href="/compare" class="scale"><img src="{{ asset('images/Scales.svg') }}" alt="Compare"></a>
            {% if app.user %}
                <a href="#" class="account" id="accountButton">
                    <img src="{{ asset('images/Account.svg') }}" alt="account">
                    <img src="{{ asset('images/Expand Arrow.svg') }}" alt="expand_arrow" id="arrowIcon">
                </a>
            {% else %}
                <a href="/login" class="log-in">Войти</a>
            {% endif %}
            <div class="collapse-menu" id="collapseMenu">
                <a href="{{ path('app_profile_user_info') }}" class="profile">Личный кабинет</a>
                <a href="{{ path('app_logout') }}" class="logOut">Выйти</a>
            </div>
        </div>
    </div>
</header>

<div id="catalogOverlay" class="dropdown-overlay">
    <div class="overlay-content">
        <h2>Каталог Секций</h2>
        <div class="overlay-list">
            {% for typeSport in typesSport %}
                <a href="/catalog/{{ typeSport.id }}" class="overlay-item">{{ typeSport.sportName }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div id="cityOverlay" class="dropdown-overlay">
    <div class="overlay-content">
        <h2>Выберите город</h2>
        <div class="overlay-list">
            {% for city in cities %}
                <a href="{{ path('set_city', {city: city}) }}" class="overlay-item">{{ city }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<button id="scrollTopBtn" class="scroll-top-btn" title="Наверх">&uarr;</button>
