{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/catalog.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/blog.css') }}">
{% endblock %}

{% block body %}
    <section>
        <div class="catalog-container">
            <p class="type-sport-title">
                {{ currentTypeSport.sportName }}
            </p>
            <div class="catalog-content">
                <div class="filter">
                    <input type="search" placeholder="Поиск..." name="btn-search" style="padding-left: 10px">
                    <div class="accordion">
                        <div class="accordion-item filter-title">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                    Цена
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                <div class="accordion-body filter-body">
                                    <label class="radio-element">
                                        <input type="radio" name='price' value="all-sections" checked>
                                        <span>Все курсы</span>
                                    </label>
                                    <label class="radio-element">
                                        <input type="radio" name='price' value="free">
                                        <span>Бесплатные</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    {% for section in sections %}
                        <div class="section-card">
                            <div class="wrap">
                                <a href="/section/{{ section.id }}" class="section-link">
                                    <div class="stage-1">
                                        <div class="base-left">
                                        <span class="section-name">
                                            {{ section.name }}
                                        </span>
                                        </div>
                                        <div class="base-right ms-auto">
                                        <span class="price">
                                            {{ section.price }} Руб./Мес.
                                        </span>
                                        </div>
                                    </div>
                                    <div class="stage-2">
                                        <span class="address">{{section.address}}</span>
                                        <div class="star-rate d-flex">
                                            <div class="stars">
                                                <div class="rating">
                                                    {% for i in 1..5 %}
                                                        {% if i <= 5 %}
                                                            <span class="star-filled">★</span>
                                                        {% else %}
                                                            <span class="star-empty">☆</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="text">5/5</div>
                                        </div>
                                        <span class="count-reviews">10 отзывов</span>
                                    </div>
                                    <div class="stage-3">
                                        <div class="base-left">
                                            <strong>Для кого:</strong>
                                            {{ section.forWho }}
                                        </div>
                                        <div class="base-right">
                                            <strong>Фомат:</strong>
                                            {{ section.format}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="stage-4">
                                <div class="buttons">
                                    <button class="comparison"><img src="{{ asset('images/Scales.svg') }}"
                                                                    alt="scale_img">
                                    </button>
                                    <button class="entries-button">Записаться</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include ('blog-article.html.twig') %}
    </section>
{% endblock %}