{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/section.css') }}">
{% endblock %}

{% block body %}
    <section>
        <div class="title-container">
            <div class="title-content">
                <div class="info-container">
                    <p class="section-name">Секция "{{ section.name }}"</p>
                    <p class="desc">Добро пожаловать в футбольную секцию Зенит!
                        Разгадайте тайны игры, освоив основы с нашими практическими занятиями.
                        Почувствуйте страсть к футболу, в нашей секции.</p>
                </div>
                <div class="entry-container">
                    <div class="card-user-info">
                        <div class="stars">
                            <div class="rating">
                                {% for i in 1..5 %}
                                    {% if i <= 5 %}
                                        <span class="star-filled">★</span>
                                    {% else %}
                                        <span class="star-empty">☆</span>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="int-rating">5/5</div>
                        </div>
                        <span class="count-reviews">10 отзывов</span>
                        <p class="section-price">{{ section.price }} Руб./Мес.</p>
                    </div>
                    <div class="entry-stage">
                        <button class="comparison">
                            <img src="{{ asset('images/Scales.svg') }}" alt="scale_img">
                            В сравнение
                        </button>
                        <button class="entry">
                            Записаться
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="sticky-menu">
                <a class="menu-button" href="#section-description" id="desc-button">Описание</a>
                <a class="menu-button" href="#section-reviews" id="reviews-button">Отзывы</a>
                <div class="highlight"></div>
            </div>

            <hr style="border: 1px solid black; margin-top: 80px;">
            <div id="section-description" class="section-description">
                <div class="forWh0-format">
                    <div class="accordion">
                        <div class="accordion-item desc-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button desc-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                    Для кого
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                <div class="accordion-body desc-text">
                                    {{ section.forWho }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-item desc-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button desc-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                    Формат
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    {{ section.format }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-container">
                    <div class="accordion">
                        <div class="accordion-item map-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button map-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseThree">
                                    Местоположение секции на карте
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body map-body">
                                    <div id="map">
                                        {{ section.linkToMap|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section-reviews" class="section-reviews">
                <div class="reviews-title">
                    <p>Отзывы о секции "{{ section.name }}"</p>
                    <a href="#send-review">Написать отзыв</a>
                </div>
                <div class="reviews-body">
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="reviews-card">
                                <div class="stage-1">
                                    <div class="reviews-info">
                                        <p class="user-name">Анатолий Мурнаев</p>
                                        <p class="createdAt" style="color: #8F8F8F;">20.04.2024</p>
                                    </div>
                                    <div class="stars">
                                        <div class="rating">
                                            {% for i in review.rating %}
                                                {% if i <= 5 %}
                                                    <span class="star-filled">★</span>
                                                {% else %}
                                                    <span class="star-empty">☆</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="text">{{ review.rating }}/5</div>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="reviews-header">Все очень понравилось!</p>
                                    <span class="text-review">Присоединившись к футбольной секции Зенита, я нашел не просто команду, а настоящую футбольную семью. Профессиональные тренеры, интенсивные тренировки и поддержка сочувствующих товарищей создают неповторимую атмосферу. Здесь не просто играют в футбол, здесь живут им, и я горжусь быть частью этой захватывающей истории успеха.</span>
                                    <div class="positive-negative">
                                        <div class="positive">
                                            <span><img src="{{ asset('images/plus.svg') }}" alt="plus">Плюсы</span>
                                            <div class="item">
                                                <span>•</span>
                                                Профессиональные тренеры
                                            </div>
                                        </div>
                                        <div class="negative">
                                            <span><img src="{{ asset('images/minus.svg') }}" alt="minus">Минусы</span>
                                            <div class="item">
                                                <span>•</span>
                                                Только одно поле на котором могут не поместиться
                                                все ученики
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="no-reviews">
                            <span>У этой секции пока нет отзывов =(</span>
                        </div>
                    {% endif %}
                </div>
                {% if app.user %}
                <div class="send-review" id="send-review">
                    <p class="form-review-title"></p>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.textReview) }}
                    </div>
                    <div class="star-rating">
                        <label>Ваша оценка</label>
                        {{ form_widget(form.rating) }}
                    </div>
                    <div class="form-positive-negative">
                        {{ form_row(form.positive) }}
                        {{ form_row(form.negative) }}
                    </div>
                    <button type="submit">Отправить</button>
                    {{ form_end(form) }}
                </div>
                {% else %}
                <div class="no-log-in">
                    <span>Упс... Чтобы оставить отзыв нужно войти в аккаунт</span>
                </div>
                {% endif %}

            </div>

        </div>
    </section>
    <script>
        $(function() {
            $('.star-rating').barrating({
                theme: 'css-stars',
                initialRating: {{ form.rating.vars.value }}
            });
        });
    </script>

{% endblock %}